{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} Guides{% endblock %}
{% block body %}


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <footer>
                <h2 class="featurette-heading"> Travel guides are essential part of a pleasant journey. <span
                        class="text-muted">If you cannot pick the travel guide for your trip, then this is the article for you.</span>
                </h2>
                <p class="lead">The source for this article is:</p>
                <a class="lead" href="http://gearpatrol.com/2015/01/26/best-travel-guidebooks/"> Gear patrol</a>
                <p class="lead">Picture sources:</p>
                <a class="lead"
                   href="https://www.google.nl/search?q=Wallpaper+Travel+Books&tbm=isch&tbs=rimg:Cc7e-zD5un5RIjgOff3b592rsAb6550HyuQ_1pJaGfcIp-pJVFLvaW0eo6e0S_1OUIRIj-HDOJAneenFd6tNZBYslGSioSCQ59_1dvn3auwEcwh1mwrd5wrKhIJBvrnnQfK5D8RX3CyyduaeiMqEgmkloZ9win6khG9ks8Nyygk6SoSCVUUu9pbR6jpESQ-XOn7sJxEKhIJ7RL85QhEiP4RXDda3fB-PmUqEgkcM4kCd56cVxH-vH4q_1C5ZlioSCXq01kFiyUZKETRpgjkTob6S&tbo=u#tbm=isch&q=travel+guides&imgrc=owggTtNEK-B64M%3A">First
                    Picture</a>
                <a class="lead"
                   href="https://www.google.nl/search?q=wallpaper+travel+books&tbm=isch&tbs=rimg:CUy9bxzfZfimIjhVFLvaW0eo6c7e-zD5un5R7RL85QhEiP6e_1ztzsmeGogb6550HyuQ_1erTWQWLJRkpiXyK2Lvu-CCoSCVUUu9pbR6jpESQ-XOn7sJxEKhIJzt77MPm6flERfvW2NSuU5QAqEgntEvzlCESI_1hFcN1rd8H4-ZSoSCZ7_1O3OyZ4aiEaGB8m8mwhI8KhIJBvrnnQfK5D8RX3CyyduaeiMqEgl6tNZBYslGShE0aYI5E6G-kioSCWJfIrYu-74IETaYZvUmY58W&tbo=u#imgrc=q-tM3Jnr0MavGM%3A">Second
                    Picture</a>
                <a class="lead"
                   href="https://www.google.nl/search?q=Rough+Guides&tbm=isch&tbs=rimg:CQpUKAZArXydIjgWInA_1QVbsTpPMpJv0IKGwrGtDeBVyhmSxzNZhQFh_1LcE8_1kEGS1Au8T6wHdue1_1zWeW2cgZLSpyoSCRYicD9BVuxOEehT7vSS3e39KhIJk8ykm_1QgobARi8auhSxOXR0qEgmsa0N4FXKGZBHcIFYGwOCv3ioSCbHM1mFAWH8tEWQ6BNKlU9ZhKhIJwTz-QQZLUC4R41OodQZqJmQqEgnxPrAd257X_1BHFqV_1m2FXFPioSCdZ5bZyBktKnEecsJjZjJEPB&tbo=u#imgrc=-zk1h6KBIStMFM%3A">Third
                    Picture</a>
                <a class="lead"
                   href="https://www.google.nl/search?q=timeout+travel+guides&tbm=isch&tbs=rimg:CQAeRhfkziVCIjg4JGcTdR1znFsAwBNmVcT83xVoAxyV7sAeuFBqteiJH6CD4G-T63raq2USCpC9sA9UWIJqgc9_1gCoSCTgkZxN1HXOcEWsZQHh0K4LrKhIJWwDAE2ZVxPwR1u1MHUspdrAqEgnfFWgDHJXuwBFOo9nc7TNIKyoSCR64UGq16IkfEVXvpcvLlkCBKhIJoIPgb5PretoRbro7U5p3ihIqEgmrZRIKkL2wDxFM-whxdkgYwSoSCVRYgmqBz3-AEbW8NJji5uSY&tbo=u#imgrc=OCRnE3Udc5xYtM%3A">Fourth
                    Picture</a>
                <a class="lead"
                   href="https://www.google.nl/search?q=Moon+Travel+Guides.&tbm=isch&tbs=rimg:Cf40jt_1MxQe9IjiS978usX_1hFci_1lkFZVdmcZiWuLt92a5RGuiN1luXttMWcA_1DnCXfNFx0n50rEQaZpHd836yBKIyoSCZL3vy6xf-EVERVl7R3WGToxKhIJyL-WQVlV2ZwRT6Qg3AitTBoqEglmJa4u33ZrlBFmVdYaybc1wioSCUa6I3WW5e20EQK_1bzAiiU9lKhIJxZwD8OcJd80RrEhh4c1F-1UqEgkXHSfnSsRBphGT3fcy7f-GFCoSCWkd3zfrIEojEXry7-SB9t45&tbo=u#imgrc=_jSO38zFB726kM%3A">Fifth
                    Picture</a>
            </footer>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive center-block" src="{% static 'img/guide.jpg' %}"
                 alt="Generic placeholder image">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
            <h2 class="featurette-heading">Wallpaper Travel Books. <span class="text-muted">See for yourself.</span>
            </h2>
            <p class="lead">Best City Guide: Pocket sized with striking images, these little booklets cover content from
                popular museums to lesser-visited restaurants and hidden haunts. Wallpaper’s in most cities, and their
                minimalist covers help camouflage you as a non-tourist.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
            <img class="featurette-image img-responsive center-block" src="{% static 'img/wall.jpg' %}"
                 alt="Generic placeholder image">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Rough Guides. <span class="text-muted">Checkmate.</span></h2>
            <p class="lead">Best Narrative Guide: There’s a reason why people fall asleep reading history books, and
                Rough Guides knows it. So they capitalize on keeping your attention captive by making their guides more
                narrative focused. Their descriptions are vivid and the travel writers’ experiences are personal and
                opinionated. Yet because it’s so detailed, it may deter those who value brevity. On the whole, though,
                it’s worth it for the historical perspective, and it’ll get you through the city without reading like a
                paperbound Lunesta. Additionally, all of the guides are smartphone and tablet compatible, if you’re into
                that.</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive center-block" src="{% static 'img/rough.jpg' %}"
                 alt="Generic placeholder image">
        </div>
    </div>


    <hr class="featurette-divider">


    <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
            <h2 class="featurette-heading">Time Out City Guides. <span class="text-muted">See for yourself.</span>
            </h2>
            <p class="lead">Best Guide for Young Travelers: Time Out is geared toward younger travelers who are landing
                and departing within a matter of days. Each guide hits a little bit of everything: encouraging readers
                to try alternative grub, taste local brews and see the highlights that those travelers who came before
                you would implore you not to miss. The series covers 24 countries, which is not quite as far reaching as
                others, so check beforehand to make sure they have your location. </p>
        </div>
        <div class="col-md-5 col-md-pull-7">
            <img class="featurette-image img-responsive center-block" src="{% static 'img/save.jpg' %}"
                 alt="Generic placeholder image">
        </div>
    </div>
    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Moon Travel Guides. <span class="text-muted">Checkmate.</span></h2>
            <p class="lead">Best Budget-Conscious Travel Guide: Far from narrow minded, each Moon travel guide gives
                itinerary options for a variety of travelers’ budgets — from frugal to lavish. They make books catering
                to those who love the outdoors, those who have limited time, those staying exclusively in cities and
                those who’ve fully committed to living abroad. In all, they have hundreds of titles, ranging Bermuda to
                Budapest, that’ll teach you to embrace a new culture. </p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive center-block" src="{% static 'img/moon.jpg' %}"
                 alt="Generic placeholder image">
        </div>

    </div>

    <hr class="featurette-divider">
    <footer>
        <p class="pull-right" style="margin-right: 80px"><a href="#">Back to top</a></p>
    </footer>
    </div>

{% endblock %}
